.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Đảm bảo màn hình đăng nhập chiếm toàn bộ chiều cao viewport */
    background: url("background-1.jpg") fixed center;
}


.signin-wrap {
    padding: 1.5rem;
}

.card {
    background-color: #fff;
    border-radius: 8px;
}

.card-body {
    padding: 2rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.d-grid {
    display: grid;
    gap: 1rem;
}

.d-flex {
    display: flex;
}

.mt-3 {
    margin-top: 1rem;
}

.text-center {
    text-align: center;
}

.btn-link {
    color: #007bff;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}
