.bgLoading {
    background-color: rgba(255, 255, 255, 0.8); /* Tăng độ mờ nếu cần */
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Đảm bảo phủ toàn bộ chiều rộng màn hình */
    height: 100vh; /* Đảm bảo phủ toàn bộ chiều cao màn hình */
    z-index: 9999999; /* Tăng z-index để chắc chắn đè lên mọi thứ */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Đảm bảo không cản trở thao tác */
}
